

body{
  font-family: BigNoodleTooOblique;
  background-color: blue;
  color: white;
}
.container{
 color: yellow;
  float:center;
}
footer{
 font-size:5px;
  bottom:0;
  height:5px;
  position:absolute;
  float:right;
  }
